@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  font-family: Poppins, serif;
  background: linear-gradient(180deg, #0034ad 0%, #2e2e2e 100%);
}

.nav-link {
  color: aquamarine;
}

.navbar-nav .nav-link.active {
  color: rgb(145, 145, 145);
}

.navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  background-color: rgb(145, 145, 145);
}

.sidebar {
  color: rgb(167, 252, 223);
  background: linear-gradient(270deg, #0034ad 0%, #2e2e2e 100%);
}

.card {
  background-color: #0034ac;
  color: rgb(167, 252, 223);
}

.card a {
  text-decoration: none;
  color: rgb(167, 252, 223);
}

.carousel-text {
  color: rgb(167, 252, 223);
  margin: auto auto;
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}
